@value breakpoints: './breakpoints.module.css';
@value breakpoint-sm, breakpoint-md, breakpoint-lg, breakpoint-xl, breakpoint-2xl from breakpoints;

:root {
  /* see https://margaret2.github.io/pantone-colors/ */
  --dark-sapphire: #262b37;
  /* --anthracite: #28282d; */
  --bright-white: #f4f5f0;

  /* main black */
  --foreground-color: var(--dark-sapphire);

  /* background */
  --background-color: var(--bright-white);
  /* --gardenia: #f1e8df; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --foreground-color: var(--bright-white);
    --background-color: var(--dark-sapphire);

    color: var(--foreground-color);
  }

  a {
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  }
  a:hover {
    text-decoration-color: rgb(255, 255, 255, 1);
  }
}

@media (prefers-color-scheme: light) {
  a {
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  }
  a:hover {
    text-decoration-color: rgb(0, 0, 0, 1);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  background: var(--background-color);
  color: var(--foreground-color);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  font-style: italic;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  color: var(--foreground-color);
  transition: text-decoration-color 450ms;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0 auto 0 0;
  padding: 0;
}
