@value breakpoints: './breakpoints.module.css';
@value breakpoint-lg from breakpoints;

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primaryText {
  font-size: 2.8em;
  line-height: 150%;
}

.wrapper {
  width: 70vw;
}

@media screen and (max-width: breakpoint-lg) {
  .primaryText {
    font-size: 2em;
  }
  .wrapper {
    width: 100vw;
    padding: 1em;
  }
}
