@value breakpoints: './breakpoints.module.css';
@value breakpoint-lg from breakpoints;

.primaryText {
  font-size: 2em;
  line-height: 150%;
}

.wrapper {
  width: 40em;
}

@media screen and (max-width: breakpoint-lg) {
  .primaryText {
    font-size: 1.5em;
  }
  .wrapper {
    width: 100vw;
    padding: 2em;
  }
}
